body {
    background-color: rgba(138, 214, 170, 0.295);
    height : 1000px;
}

.event_info {
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 30px;
    color:black;
}

.row .carousel {
    align-content: center;
}

.text-center {
    padding-top: 3%;
    padding-bottom: 3%;
}