<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{ range (where .Site.RegularPages "Section" "associations")}}
    {{if eq .Params.important true}}
    <a href="{{ .Permalink }}">{{.Params.title}}</a>
    {{ end }}
    {{ end }}
</div>

<div id="aside">
    <button class="openbtn" onclick="go()"> ← Highlited Associations</button>
</div>

<script>
    function go() {
        if (document.getElementById("mySidebar").style.width == "200px") {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        } else {
            document.getElementById("mySidebar").style.width = "200px";
            document.getElementById("main").style.marginLeft = "200px";
        }
    }
</script>