{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "presentation.html" . }}
<h2 class="text-center">Membre of the Council</h2>
<h3 class="text-center">Mayor</h3>
{{ range where .Site.RegularPages "Section" "conseil-municipal" }}
{{ if eq .Params.role "Mayor" }}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <img class="img-thumbnail" src="{{ .Params.photo }}">
        </div>
    </div>
    <div class="row justify-content-center">
        <p>{{ upper .Params.lastName }}</p>
    </div>
    <div class="row justify-content-center">
        <p>{{ humanize .Params.firstName }}</p>
    </div>
</div>
{{ end }}
{{ end }}

<h3 class="text-center">Deputies</h3>

<ul class="list-inline">
    {{range where .Site.RegularPages "Section" "conseil-municipal"}}
    {{ if eq .Params.role "Deputy"}}
    <li class="list-inline-item col-md-3">
        <a href="{{ .Permalink }}"><img class="img-thumbnail" src="{{ .Params.photo }}" /></a>
        <div class="col-xs-12 col-sm-9">
            {{upper .Params.lastName}}
            {{humanize .Params.firstName}}
        </div>
        <div class="clearfix"></div>
    </li>
    {{ end }}
    {{ end }}

</ul>
{{ partial "footer.html" . }}