<hr />
<div class="footer">
    <div class="row d-flex justify-content-center">Phone number : (+33)6 06 06 06 06</div>
    <div class="row d-flex justify-content-center">
    <div style="width: 350px;"><iframe width="350" height="350"
            src="https://maps.google.com/maps?width=350&amp;height=350&amp;hl=en&amp;q=Place%20de%20l%5C'H%C3%B4tel-de-Ville%2075196%20Paris%20Cedex%2004+(Town%20Hall)&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=B&amp;output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <div
            style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
            <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a
                    href="http://www.googlemapsgenerator.com/fr/">googlemapsgen (fr)</a> & <a
                    href="https://www.buyinstagramfollowersreviews.net/">check this website to buy followers</a></small>
        </div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important
            }
        </style>
    </div><br />
    </div>
</div>


</html>