{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ $address := delimit (slice .Params.address .Params.postalCode .Params.city) " - "}}
{{ partial "single.html" (dict "title" .Params.title "photo" .Params.photos "var1" $address "var2" .Params.when "var3" .Params.description)}}

{{ $associationName := .Params.association}}
{{ range (where .Site.RegularPages "Section" "associations") }}
{{if eq .Params.title $associationName}}
<div class="row justify-content-center">
	<a href="{{ .Permalink}}">{{.Params.title}}</a>
</div>
{{ end }}
{{ end }}
</div>
</body>

{{ partial "footer.html" . }}