{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "single.html" (dict "title" .Params.title "photo" .Params.photo "domain" .Params.domain "address" .Params.address "description" .Params.description)}}


<body>
	<hr/>
	{{ $asso := .Params.title}}
	
	<div class="container">
		<h2 class="text-center">Events related to</h2>

		{{ range where .Site.RegularPages "Section" "events" }}
		{{ if eq .Params.association $asso}}
		<div class="row justify-content-center">
			<a href="{{ .Permalink}}">{{.Params.title}}</a>
		</div>
		{{end}}
		{{end}}
	</div>


</body>

{{ partial "footer.html" . }}